html{
  font-family: Microsoft Yahei;
  font-size: 14px;
  line-height: 1.2;
}
.main{
  max-width: 1000px;
  margin: 0 auto;
}

/*header*/
.header{
  width: 100%;
  line-height: 55px;
  margin: 0 auto;
  background-color: #282828;
}
.header a{
  color: white;
  text-decoration: none;
}
.header .logo{
  display: inline;
  position: relative;
  left: 15%;
  font-size: 30px;
  font-weight: bold;
}
.header .tab{
  display: inline;
  position: relative;
  left: 70%;
}

/*content*/
.content {
  width: 100%;
}
/*content: banner1*/
.content .banner1 {
  width: 100%;
  height: 300px;
  background-color: #339900;
}
.content .banner1 .tab1{
  position: relative;
  left: 79%;
  top: 85%;
}
.content .banner1 .tab1 span{
  float: left;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  text-align: center;
  line-height: 25px;
  background-color: lightgray;
  border: 1px solid lightgray;
}
.content .banner1 .tab1 span.active{
  position: relative;
  top: -12px;
  padding-top: 12px;
  background-color: white;
}
/*content: banner2*/
.content .banner2{
  width: 100%;
  height: 40px;
  padding-top: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.content .banner2 .tab2{
  position: relative;
  left: 15%;
}
.content .banner2 .tab2 span{
  float: left;
  width: 100px;
  height: 39px; /*Note the height is 1px less than the parent*/
  margin-left: -1px; /*To reduce the overlapping of tab border*/
  background-color: lightgray;
  border: 1px solid #505050;
  border-radius: 15px 15px 0 0;
  line-height: 40px;
  text-align: center;
}
.content .tab2 span.active {
  background-color: white;
  border-bottom-color: white;
}
/*content lists*/
.content .lists{
  padding: 10px;
}
.content .lists .line{
  margin:0 auto;
  width: 80%;
  height: 180px;
  margin-bottom: 10px;
}
.content .lists .item{
  float: left;
  height: 180px;
  margin-right: 5px;
  box-sizing:border-box;
  border: 1px solid lightgray;
  text-align: center;
  line-height: 180px;
}
.content .lists .line1 .item{
  width: calc((100% - 10px)/3);/*Classic method of aligning*/
}
.content .lists .line1 .item:last-child{
  margin-right: 0;
}
.content .lists .line2 .item{
  width: calc((100% - 15px)/4);
  margin-right: 5px;
}
.content .lists .line2 .item:last-child{
  margin-right: 0;
}
.content .lists .line3 .item{
  width: calc((100% - 10px)/3);
  margin-right: 5px;
}
.content .lists .line3 .item:last-child{
  margin-right: 0;
}

/*footer*/
.footer{
  width: 100%;
  height: 100px;
  background-color: #686868;
  color: white;
  text-align: center;
  line-height: 60px;
}