/* This is the css file of style_1 */

html{
  font-family: Microsoft Yahei;
}

contactEmail, contactWeb{
  color: blue;
  text-decoration:underline;
}

li{
  line-height: 2px;
  list-style-type: none;
  display: inline;
}

specH, eduH, expH{
  line-height: 45px;
}