/* This is the css file of style_2 */

html{
  font-family: Microsoft Yahei;
}

contactEmail, contactWeb{
  color: blue;
  text-decoration:underline;
}

li{
  line-height: 2px;
  list-style-type: none;
}

specH, eduH, expH{
  line-height: 45px;
}

h1{
  text-align: center;
  color: white;
  line-height: 400%;
  background: dodgerblue;
  width: 200px;
  height: 720px;
  margin: 0px;
  float: left;
}

.infoH, .info, .contactH, .contact, .edu, .spec, .exp{
  text-indent: 20px;
}
